<h1>Reviews for <%= link_to @movie.title, @movie %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %><br>
      <p>
        <%= link_to review.user.name, review.user %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
      <% if current_user?(review.user) || current_user_admin? %>
        <%= link_to "Edit", edit_movie_review_path(review.movie, review), class: 'button' %>
        <%= link_to "Delete", movie_review_path(review.movie, review),
          method: :delete, data: {confirm: 'Are you sure?' }, class: 'button'
        %>
      <% end %>
  <% end %>
  </li>
</ul>

